<div style="display: flex; flex-direction: row;width: 100%;height: 100%;background-size: contain; background: no-repeat  center fixed;"
    [ngStyle]="{ 'background-image': 'url('+newBackground+')'}">

    <div style="width: 45%;flex-grow: 2;"></div>
    <div style="flex-grow:1;align-self:center; ">

        <mat-card style="width: fit-content;">
            <!-- link to Login -->
            
                <div>
                    <mat-card-title style="color: rgb(30, 143, 163);">{{usertype.value}}</mat-card-title>
                    <mat-card-subtitle>REGISTARTION</mat-card-subtitle>
                </div>
                
                <span style="align-content: flex-end;">
                    <a routerLink="/login">existing user ?</a>
                </span>
         
            <hr>
            <mat-card-content>
                <form #regForm  (submit)="register(uname.value,upass.value,usertype.value); " onsubmit="return false;">
                <!-- <form> -->

                    <br>


                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>{{usertype.value}} name:</mat-label>
                        <input #uname type="text" matInput autofocus required>
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>password:</mat-label>

                        <input #upass [type]="hide?'password':'text'" matInput required>
                        <mat-icon matSuffix (click)="hide=!hide" style="cursor:pointer;">
                            {{!hide?'visibility_off':'visibility'}}</mat-icon>

                    </mat-form-field>

                    <br>

                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>I am a </mat-label>
                        <mat-select #usertype value="Chef">
                            <mat-option value="Chef">Chef</mat-option>
                            <mat-option value="Customer">Customer</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-card-actions align="end">



                        <!-- register button -->
                        <!-- <button #loginbtn mat-raised-button [color]="(usertype.value=='Customer')?'primary':'accent'"
                        (click)="register(uname.value,upass.value,usertype.value)">
                            Register new {{ usertype.value}}
                        </button> -->
                        <button #loginbtn mat-raised-button [color]="(usertype.value=='Customer')?'primary':'accent'">
                            Register new {{ usertype.value}}
                        </button>

                    </mat-card-actions>
                </form>
            </mat-card-content>

        </mat-card>

    </div>
</div>