<div style="margin-top: 10%;"></div>
<mat-card *ngFor="let chef of allChef" style="margin-bottom: 5%;" >
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <img mat-card-image src="../../../../assets/avatar.png" alt="Chef's Photo">
        <div class="title">
            <mat-card-title>Chef's Name</mat-card-title>
            <mat-card-subtitle>
                <h2>{{chef.name}}</h2>
            </mat-card-subtitle>
        </div>
    </mat-card-header>

    <hr>
    <mat-card-header>
        <h1 style="color: rgb(91, 177, 51);">Available Items</h1>
    </mat-card-header>
    <hr>
    <mat-card class="foodMenu" *ngFor="let item of chef.menu" style="margin: 3%;">
        <mat-card-content>
            <h2>{{item.dish}}</h2>
            <h3> &#8377; {{item.price}}/-</h3>
            <button class="buy-btn" (click)="addOrder(item.dish,chef.name,item.price,chef.id);" mat-raised-button>Buy</button>
        </mat-card-content>

        <hr>
    </mat-card>



</mat-card>


