img{
    height: 100px;
    width: 100px;
    float: left
}
.title{
    float: right;
    margin-left: 50px ;
}



.foodMenu{
    margin-left: 80px;
}

.buy-btn{
    color: rgb(91, 177, 51);
    transition: 0.3s;
    padding-left: 30px ;
    padding-right: 30px ;
}

.buy-btn:hover{
    background-color: white;
    background-color: rgb(91, 177, 51);
    color: white;
}